views/partials/home.jade
#grid-wrapper
   #grid
      .row(cells="")
         .grid-item.large.green(style="background-image: url('/img/covers/13.jpg')")
         .grid-item.red
         .grid-item.green(style="background-image: url('/img/covers/12.jpg')")
         .grid-item.yellow

      .row(cells="")
         .grid-item.red(style="background-image: url('/img/covers/11.jpg')")
         .grid-item.green
         .grid-item.large.yellow(style="background-image: url('/img/covers/9.jpg')")
         .grid-item.green(style="background-image: url('/img/covers/10.jpg')")

      .row(cells="")
         .grid-item.yellow
         .grid-item.large.red(style="background-image: url('/img/covers/1.jpg')")
         .grid-item.yellow
         .grid-item.red

      .row(cells="")
         .grid-item.green(style="background-image: url('/img/covers/2.jpg')")
         .grid-item.red
         .grid-item.red(style="background-image: url('/img/covers/8.jpg')")
         .grid-item.green(style="background-image: url('/img/covers/3.jpg')")
         .grid-item.yellow

      .row(cells="")
         .grid-item.large.green(style="background-image: url('/img/covers/4.jpg')")
         .grid-item.red
         .grid-item.green(style="background-image: url('/img/covers/7.jpg')")
         .grid-item.yellow

      .row(cells="")
         .grid-item.red
         .grid-item.green(style="background-image: url('/img/covers/6.jpg')")
         .grid-item.large.yellow(style="background-image: url('/img/covers/5.jpg')")
         .grid-item.green(style="background-image: url('/img/covers/14.jpg')")

   #subs-fade(ng-class="{'visible': page.subscribe}")

   #top-fade
      a.btn.left(href="#" ng-hide="page.categories" ng-click="toggleCategories()")!= "<i class='icon-th-large-1'></i> <span class='btn-text'>Categories</span>"
      
      a.btn.right.menu(href="#")!= "<i class='icon-menu'></i>"   
      a.btn.right(href="#")!= "Login"
      a.btn.right(href="#")!= "For business owners"
      a.btn.right(href="#")!= "En <i class='icon-angle-down'></i>"

   #options(ng-hide="page.subscribe")
      //   
         p.
            We are not available in Hamburg yet.
            <a href='#' class='btn subscribe'>Subscribe</a>
            to be notified about launch
      p.
         We are not available in Hamburg yet. How about:
         <a href='#' class='btn'>Berlin</a>
         <a href='#' class='btn'>Munich</a>
         <a href='#' class='btn'>Frankfurt</a>

   #search(ng-hide="page.subscribe")
      a.btn(href="#") Search
      a.logo
      form
         .query
            i.icon-search-1
            input(type="text" autofocus)

         .location
            i.icon-location-1
            input(type="text" value="Hamburg")
            //TODO
            i.icon-angle-down
         

   p.teaser(ng-hide="page.subscribe")
      != "Thousands services<br>in hundreds beauty salons.<br>"
      <a ng-click='toggleSubs()'>Get notification</a> when we launch in Hamburg.

   
#categories.show(ng-show="page.categories")
   .category.yellow(category="")
      i.icon-scissors
      p Hair
   .category.red(category="")
      i.icon-fast-food
      p Care
   .category.green(category="")
      p Color
   .category.green(category="")
      p Health

   .category.green(category="")
      p Massage
   .category.red(category="")
      p Style
   .category.yellow(category="")
      i.icon-heart
      p Popular
   .category.red(category="")
      i.icon-fire-station
      p Hot deals

   .category.yellow(category="")
      p Skin
   .category.red(category="")
      p Face
   .category.yellow(category="")
      p Hands
   .category.yellow.empty(category="")

   a.btn.close(href="#" ng-hide="!page.categories" ng-click="toggleCategories()")!= "<i class='icon-cancel'></i><span class='btn-text'> Close</span>"

#subs(ng-class="{'visible': page.subscribe}")
   a.circle.close(ng-click="toggleSubs()")
      i.icon-cancel
   h1 Subscribe
   p We will send you an invite as soon as Stylevisit launches in your city:
   form
      input(adaptive-input="" type="text" ng-model="subs.email" class="adaptive" placeholder="your email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus)
      
      .select
         input(type="text" value="Hamburg")
         i.left.icon-location-1
         i.right.icon-angle-down

      a.btn(href="#") Save

public/templates/partials/home.html

<div id="grid-wrapper">
  <div id="grid">
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/13.jpg')" class="grid-item large green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/12.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/11.jpg')" class="grid-item red"></div>
      <div class="grid-item green"></div>
      <div style="background-image: url('/img/covers/9.jpg')" class="grid-item large yellow"></div>
      <div style="background-image: url('/img/covers/10.jpg')" class="grid-item green"></div>
    </div>
    <div cells="" class="row">
      <div class="grid-item yellow"></div>
      <div style="background-image: url('/img/covers/1.jpg')" class="grid-item large red"></div>
      <div class="grid-item yellow"></div>
      <div class="grid-item red"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/2.jpg')" class="grid-item green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/8.jpg')" class="grid-item red"></div>
      <div style="background-image: url('/img/covers/3.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/4.jpg')" class="grid-item large green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/7.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/6.jpg')" class="grid-item green"></div>
      <div style="background-image: url('/img/covers/5.jpg')" class="grid-item large yellow"></div>
      <div style="background-image: url('/img/covers/14.jpg')" class="grid-item green"></div>
    </div>
  </div>
  <div id="subs-fade" ng-class="{'visible': page.subscribe}"></div>
  <div id="top-fade"><a href="#" ng-hide="page.categories" ng-click="toggleCategories()" class="btn left"><i class='icon-th-large-1'></i> <span class='btn-text'>Categories</span></a><a href="#" class="btn right menu"><i class='icon-menu'></i></a><a href="#" class="btn right">Login</a><a href="#" class="btn right">For business owners</a><a href="#" class="btn right">En <i class='icon-angle-down'></i></a></div>
  <div id="options" ng-hide="page.subscribe">
    <!--   
    p.
       We are not available in Hamburg yet.
       <a href='#' class='btn subscribe'>Subscribe</a>
       to be notified about launch
    -->
    <p>
      We are not available in Hamburg yet. How about:
      <a href='#' class='btn'>Berlin</a>
      <a href='#' class='btn'>Munich</a>
      <a href='#' class='btn'>Frankfurt</a>
      
    </p>
  </div>
  <div id="search" ng-hide="page.subscribe"><a href="#" class="btn">Search</a><a class="logo"></a>
    <form>
      <div class="query"><i class="icon-search-1"></i>
        <input type="text" autofocus="autofocus"/>
      </div>
      <div class="location"><i class="icon-location-1"></i>
        <input type="text" value="Hamburg"/>
        <!--TODO--><i class="icon-angle-down"></i>
      </div>
    </form>
  </div>
  <p ng-hide="page.subscribe" class="teaser">Thousands services<br>in hundreds beauty salons.<br><a ng-click='toggleSubs()'>Get notification</a> when we launch in Hamburg.
  </p>
</div>
<div id="categories" ng-show="page.categories" class="show">
  <div category="" class="category yellow"><i class="icon-scissors"></i>
    <p>Hair</p>
  </div>
  <div category="" class="category red"><i class="icon-fast-food"></i>
    <p>Care</p>
  </div>
  <div category="" class="category green">
    <p>Color</p>
  </div>
  <div category="" class="category green">
    <p>Health</p>
  </div>
  <div category="" class="category green">
    <p>Massage</p>
  </div>
  <div category="" class="category red">
    <p>Style</p>
  </div>
  <div category="" class="category yellow"><i class="icon-heart"></i>
    <p>Popular</p>
  </div>
  <div category="" class="category red"><i class="icon-fire-station"></i>
    <p>Hot deals</p>
  </div>
  <div category="" class="category yellow">
    <p>Skin</p>
  </div>
  <div category="" class="category red">
    <p>Face</p>
  </div>
  <div category="" class="category yellow">
    <p>Hands</p>
  </div>
  <div category="" class="category yellow empty"></div><a href="#" ng-hide="!page.categories" ng-click="toggleCategories()" class="btn close"><i class='icon-cancel'></i><span class='btn-text'> Close</span></a>
</div>
<div id="subs" ng-class="{'visible': page.subscribe}"><a ng-click="toggleSubs()" class="circle close"><i class="icon-cancel"></i></a>
  <h1>Subscribe</h1>
  <p>We will send you an invite as soon as Stylevisit launches in your city:</p>
  <form>
    <input adaptive-input="" type="text" ng-model="subs.email" placeholder="your email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="adaptive"/>
    <div class="select">
      <input type="text" value="Hamburg"/><i class="left icon-location-1"></i><i class="right icon-angle-down"></i>
    </div><a href="#" class="btn">Save</a>
  </form>
</div>
